.Quiz {
  display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: #0078bf;
    /* background: #8ab6fd; */
}

.Quiz h1 {
  margin-left: 10px;
  color: #ff4949;
}

.QuizWrapper {
  width: 700px;
}


